---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.4/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-machine-learning
spec:
  releaseName: *app
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  rollback:
    cleanupOnFail: true
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      immich-machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: feature.node.kubernetes.io/nvidia-3090-gpu
                        operator: In
                        values: ["true"]
                  - matchExpressions: # TODO would benefit from a load balancer
                      - key: feature.node.kubernetes.io/nvidia-2000-ada-gpu
                        operator: In
                        values: ["true"]
          runtimeClassName: nvidia
        replicas: 3
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.2@sha256:531d2bccbe20d0412496e36455715a18d692911eca5e2ee37d32e1e4f50e14bb
            env:
              TZ: America/New_York
              IMMICH_MEDIA_LOCATION: /usr/src/app/upload
              MACHINE_LEARNING_CACHE_FOLDER: /cache
              TRANSFORMERS_CACHE: /cache
              XDG_CONFIG_HOME: /cache/.config
              MPLCONFIGDIR: /cache/.config/matplotlib
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 16Gi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 3003
    persistence:
      cache:
        type: persistentVolumeClaim
        existingClaim: immich-machine-learning
        globalMounts:
          - path: /cache
      geocoding-dump:
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/.reverse-geocoding-dump
      transformers-cache:
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/.transformers_cache
      upload:
        type: nfs
        server: gasha01.haynesnetwork
        path: /hdd-nfs-repl
        advancedMounts:
          immich-machine-learning:
            app:
              - path: /usr/src/app/upload
                subPath: data/photos/immich
                readOnly: true
      photos:
        type: nfs
        server: gasha01.haynesnetwork
        path: /hdd-nfs-repl
        advancedMounts:
          immich-machine-learning:
            app:
              - path: /photos
                subPath: data/photos
                readOnly: true