---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama-assist01
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      ollama:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          nodeSelector:
            feature.node.kubernetes.io/nvidia-a2000: "true"
          runtimeClassName: nvidia
        containers:
          app:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.16.1
            env:
              - name: OLLAMA_HOST
                value: 0.0.0.0
              - name: OLLAMA_ORIGINS
                value: "*"
              - name: OLLAMA_MODELS
                value: &modelPath "/models"
              - name: OLLAMA_KEEP_ALIVE
                value: "-1"
            resources:
              requests:
                #nvidia.com/gpu: 1 # requesting 1 GPU TODO dig into how it works here https://github.com/jahanson/theshire/blob/main/kubernetes/apps/ai/ollama/app/helmrelease.yaml#L50 
                cpu: 2000m
                memory: 8Gi
              limits:
                memory: 32Gi
                #nvidia.com/gpu: 1 # requesting 1 GPU
    service:
      app:
        # http://ollama-assist01.ai.svc.cluster.local:11434
        controller: ollama
        ports:
          http:
            port: 11434
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.haynesops
          # Homepage
          gethomepage.dev/href: &url "https://ollama-assist01.haynesops.com"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: AI
          gethomepage.dev/name: Ollama (Assist01)
          gethomepage.dev/description: LLM inference API endpoint
          gethomepage.dev/icon: ollama-dark
          gethomepage.dev/app: ollama-assist01
          gethomepage.dev/siteMonitor: "https://ollama-assist01.haynesops.com/api/version"
        className: traefik-internal
        hosts:
          - host: "{{ .Release.Name }}.haynesops.com"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      models:
        enabled: true
        existingClaim: assist01-models
        advancedMounts:
          ollama:
            app:
              - path: *modelPath
      config:
        enabled: true
        existingClaim: ollama-assist01
        globalMounts:
          - path: /root/.ollama
