---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: assist01-models
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: openebs-hostpath