---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app generic-device-plugin
  namespace: kube-system
spec:
  targetNamespace: kube-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: haynes-ops
    namespace: flux-system
  path: ./kubernetes/main/apps/kube-system/generic-device-plugin/app
  wait: true
  interval: 30m
  timeout: 5m
  dependsOn:
    - name: node-feature-discovery
      namespace: kube-system
