---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: whisper
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      whisper:
        pod:
          nodeSelector:
            feature.node.kubernetes.io/nvidia-2000-ada-gpu: "true"
          runtimeClassName: nvidia
        containers:
          app:
            image:
              repository: rhasspy/wyoming-whisper
              tag: 3.1.0
            args:
              - --model
              - small
              - --language
              - en
              - --data-dir
              - /data
            env:
              TZ: America/New_York
    service:
      app:
        controller: whisper
        ports:
          http:
            port: 10300
    persistence:
      data:
        existingClaim: whisper