---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          nodeSelector:
            network.haynesops.com/vpn: "true"
          annotations:
            k8s.v1.cni.cncf.io/networks: static-vpn-qbittorrent
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4
            env:
              TZ: America/New_York
              QBT_WEBUI_PORT: &port 8080
              QBT_TORRENTING_PORT: &torrentPort 50469
            probes:
              liveness:
                enabled: true
                spec:
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 200m
                memory: 1Gi
              limits:
                memory: 6Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        forceRename: "{{ .Release.Name }}"
        primary: true
        ports:
          http:
            port: *port
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.haynesops
          gethomepage.dev/href: &url "https://qbittorrent.haynesops.com"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Downloads
          gethomepage.dev/name: qBittorrent
          gethomepage.dev/description: BitTorrent client
          gethomepage.dev/icon: qbittorrent
          gethomepage.dev/app: qbittorrent
          gethomepage.dev/siteMonitor: *url
        className: traefik-internal
        hosts:
          - host: qbittorrent.haynesops.com
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        existingClaim: qbittorrent
      data-tower:
        type: nfs
        server: haynestower.haynesnetwork
        path: /mnt/user/data
        advancedMounts:
          qbittorrent:
            app:
              - path: /data/haynestower
                readOnly: false
      data-proxmox:
        type: nfs
        server: gasha01.haynesnetwork
        path: /hdd-nfs-repl
        advancedMounts:
          qbittorrent:
            app:
              - path: /data/cephfs-hdd
                readOnly: false
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
