# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openwakeword
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      openwakeword:
        containers:
          app:
            image:
              repository: rhasspy/wyoming-openwakeword
              tag: 2.1.0
              pullPolicy: IfNotPresent
            args:
              - --preload-model
              - "ok_nabu"
              - --custom-model-dir
              - /custom
    service:
      app:
        controller: openwakeword
        ports:
          http:
            port: 10400
    persistence:
      config:
        enabled: true
        type: configMap
        name: openwakeword
        globalMounts:
          - path: /custom