---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
data:
  docker.yaml: ""

  kubernetes.yaml: |
    mode: cluster
    gateway: true
    ingress: true
    traefik: true

  settings.yaml: |
    title: HaynesOps
    # background:
    #   image: https://raw.githubusercontent.com/joryirving/home-ops/main/.docs/assets/101518784_p0.jpg
    #   opacity: 20
    #favicon: https://github.com/homarr-labs/dashboard-icons/blob/main/png/asus.png
    theme: dark
    color: slate
    headerStyle: clean
    statusStyle: dot
    useEqualHeights: false
    fiveColumns: true
    quicklaunch:
      searchDescriptions: true
      hideInternetSearch: true
      showSearchSuggestions: true
      hideVisitURL: true
    layout:
      Network:
        style: row
        columns: 3
        icon: mdi-network
      Calendar:
        style: column
        icon: mdi-calendar
      Video:
        style: column
        icon: mdi-play-circle
      Books:
        style: row
        columns: 2
        icon: mdi-book
      Infrastructure:
        style: row
        columns: 5
        icon: mdi-server
      Observability:
        style: row
        columns: 5
        icon: mdi-chart-line
      Home:
        style: row
        columns: 3
        icon: mdi-home-analytics
      Downloads:
        style: row
        columns: 3
        icon: mdi-download-circle
      Services:
        style: row
        columns: 5
        icon: mdi-tools
      Media:
        style: row
        columns: 3
        icon: mdi-television-play

  widgets.yaml: |
    - logo:
        icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/kubernetes.svg
    - search:
        provider: [google]
        focus: false
        target: _blank
    - greeting:
        text_size: xl
        text: "Welcome to HaynesOps."
    - kubernetes:
        cluster:
            cpu: true
            memory: true
            show: true
            showLabel: true
        nodes:
            cpu: true
            memory: true
            show: false
            showLabel: true
  bookmarks.yaml: ""

  services.yaml: ""