---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homepage
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.9.0
            env:
              HOMEPAGE_ALLOWED_HOSTS: &host "homepage.haynesops.com"
            envFrom:
              - secretRef:
                  name: homepage-secret
            resources:
              requests:
                memory: 200Mi
                cpu: 10m
              limits:
                memory: 2Gi
    serviceAccount:
      homepage: {}
    service:
      main:
        ports:
          http:
            port: 3000
    persistence:
      config:
        type: configMap
        name: homepage-config
        globalMounts:
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml
