---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app authentik
  namespace: flux-system
spec:
  targetNamespace: network
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
    - name: cloudnative-pg-cluster
    - name: traefik-external
      namespace: network
  path: ./kubernetes/main/apps/network/authentik/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: haynes-ops
  wait: true
  interval: 15m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      GATUS_DOMAIN: haynesnetwork.com
