---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ytdl-sub-peloton
spec:
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  values:
    controllers:
      ytdl-sub:
        type: cronjob

        pod:
          restartPolicy: Never

        cronjob:
          #schedule: "0 0 5 12 2" # Disable cronjob by giving it a schedule that will never run
          schedule: "*/15 * * * *"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          successfulJobsHistory: 1

        containers:
          app:
            image:
              repository: ghcr.io/jmbannon/ytdl-sub
              tag: 2025.11.13
            command:
              - ytdl-sub
              - --log-level=debug
              - --config=/config/config.yaml
              - sub
              - /config/subscriptions-override.yaml
              - /config/subscriptions.yaml
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 6Gi

    persistence:
      config:
        name: ytdl-sub-peloton-secret
        type: secret
        advancedMounts:
          ytdl-sub:
            app:
              - path: /config/config.yaml
                subPath: config.yaml
                readOnly: true
              - path: /config/subscriptions-override.yaml
                subPath: subscriptions-override.yaml
                readOnly: true
      subscriptions:
        name: ytdl-sub-peloton-subscriptions
        type: configMap
        advancedMounts:
          ytdl-sub:
            app:
              - path: /config/subscriptions.yaml
                subPath: subscriptions.yaml
                readOnly: true
      media:
        type: nfs
        server: gasha01.haynesnetwork
        path: /hdd-nfs-repl
        advancedMounts:
          ytdl-sub:
            app:
              - path: /media/peloton
                subPath: data/media/peloton
                readOnly: false
      tmp:
        type: emptyDir
        advancedMounts:
          ytdl-sub:
            app:
              - path: /tmp
                subPath: tmp
              - path: /workdir
                subPath: workdir