---
apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-internal-dashboard-gatus-ep
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: traefik-internal-dashboard
        group: internal
        url: "${GATUS_DNS_SERVER}"
        interval: 1m
        ui:
          hide-hostname: true
          hide-url: true
        dns:
          query-name: "traefik-internal.haynesops.com"
          query-type: A
        conditions:
          - "[DNS_RCODE] == NOERROR"
        alerts:
          - type: pushover
