---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-cache
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 100Gi
  storageClassName: ceph-block
