---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  # No ingress / DNS entry for this internal-only service
components:
  - ../../../../../shared/components/common/repos/app-template
  - ../../../../../shared/components/volsync/aws
