---
# Note: Gatus vars should be escaped with $${VAR_NAME} to avoid interpolation by Flux
web:
  port: $${WEB_PORT}
storage:
  type: postgres
  path: postgres://$${INIT_POSTGRES_USER}:$${INIT_POSTGRES_PASS}@$${INIT_POSTGRES_HOST}:5432/$${INIT_POSTGRES_DBNAME}?sslmode=disable
  caching: true
metrics: true
debug: false
ui:
  title: Status | Gatus
  header: Status
alerting:
  pushover:
    title: Gatus
    application-token: $${PUSHOVER_TOKEN}
    user-key: $${PUSHOVER_USER_KEY}
    priority: 1
    default-alert:
      description: health-check failed
      send-on-resolved: true
      failure-threshold: 3
      success-threshold: 3
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m
endpoints:
  - name: status
    group: internal
    url: $${GATUS_DNS_SERVER}
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    dns:
      query-name: "status.haynesops.com"
      query-type: A
    conditions:
      - "[DNS_RCODE] == NOERROR"
    alerts:
      - type: pushover
  - name: flux-webhook
    group: internal
    url: $${GATUS_DNS_SERVER}
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    dns:
      query-name: "flux-webhook.haynesops.com"
      query-type: A
    conditions:
      - "[DNS_RCODE] == NOERROR"
    alerts:
      - type: pushover
