---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.4/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-server
spec:
  releaseName: *app
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  rollback:
    cleanupOnFail: true
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      immich-server:
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.2.3@sha256:4504d794123c3f5410cc45bbc61e4d7dbcacec1e1b0cd2e599691430c94e5849
            env:
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            resources:
              requests:
                cpu: 1000m
                memory: 4Gi
              limits:
                memory: 32Gi
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.0@sha256:12df386a1609aada0f9c19bdcb8a59db7e2c08b5a91757f7115cce8c3d502568
            envFrom:
              - secretRef:
                  name: immich-secret
          02-init-extensions:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.0@sha256:12df386a1609aada0f9c19bdcb8a59db7e2c08b5a91757f7115cce8c3d502568
            env:
              - name: PGDATABASE
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_DATABASE_NAME
              - name: PGUSER
                value: postgres
              - name: PGPASSWORD
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: INIT_POSTGRES_SUPER_PASS
              - name: PGHOST
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_HOSTNAME
              - name: PGPORT
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_PORT
            envFrom:
              - secretRef:
                  name: immich-secret
            command:
              - /bin/bash
              - -c
              - |
                psql <<'EOF'
                  CREATE EXTENSION IF NOT EXISTS "vectors";
                  CREATE EXTENSION IF NOT EXISTS "cube";
                  CREATE EXTENSION IF NOT EXISTS "earthdistance";
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 2283
    persistence:
      config:
        enabled: true
        type: configMap
        name: immich-configmap
        globalMounts:
          - path: /config
      upload:
        type: nfs
        server: gasha01.haynesnetwork
        path: /hdd-nfs-repl
        advancedMounts:
          immich-server:
            app:
              - path: /usr/src/app/upload
                subPath: data/photos/immich
                readOnly: false
      photos:
        type: nfs
        server: gasha01.haynesnetwork
        path: /hdd-nfs-repl
        advancedMounts:
          immich-server:
            app:
              - path: /photos
                subPath: data/photos
                readOnly: true