---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../../../../shared/components/gatus/gaurded
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./probes.yaml
