---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  # No ingress / DNS entry for this internal-only service
  - ../../../../../shared/templates/volsync/app-pvc
  - ../../../../../shared/templates/volsync/extra-pvc
