---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
spec:
  releaseName: openebs
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: openebs
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: false
      replicated:
        mayastor:
          enabled: false
    openebs-crds:
      csi:
        volumeSnapshots:
          enabled: false
    localpv-provisioner:
      localpv:
        image:
          registry: quay.io/
      helperPod:
        image:
          registry: quay.io/
      hostpathClass:
        enabled: true
        name: openebs-hostpath
        isDefaultClass: false
        basePath: /var/openebs/local
    # https://github.com/openebs/openebs/issues/3977 needs a fix or workaround if I need to enable these
    loki:
      enabled: false
    alloy:
      enabled: false
    minio:
      enabled: false
