---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: appdaemon
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      appdaemon:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: acockburn/appdaemon
              tag: latest
            env:
              TZ: America/New_York
              HA_URL: http://home-assistant.home-automation.svc.cluster.local:8123
              DASH_URL: https://appdaemon.haynesops.com
              TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: appdaemon-secret
                    key: TOKEN
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 5050
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: appdaemon
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: appdaemon
        globalMounts:
          - path: /conf
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
