---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: comfyui-workspace
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 80Gi
  storageClassName: openebs-hostpath