---
# yaml-language-server: $schema=https://kochhaus-schemas.pages.dev/dragonflydb.io/dragonfly_v1alpha1.json
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: dragonfly
spec:
  image: ghcr.io/dragonflydb/dragonfly:v1.35.0@sha256:298224bb39ac02c476696fe004d408deee8ad7b96b0cb9395abf1931c6ab0c34
  replicas: 1
  env:
    - name: MAX_MEMORY
      value: 2048Mi
  args:
    - --maxmemory=2048Mi
    - --proactor_threads=2
    - --lock_on_hashtags
    - --default_lua_flags=allow-undeclared-keys
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 2048Mi
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: "kubernetes.io/hostname"
      whenUnsatisfiable: "DoNotSchedule"
      labelSelector:
        matchLabels:
          app.kubernetes.io/part-of: dragonfly