---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../../../../shared/components/common/gatus/guarded
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./ingressroute.yaml
