---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app kubelet-csr-approver
  namespace: kube-system
spec:
  targetNamespace: kube-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/edge/apps/kube-system/kubelet-csr-approver/app
  prune: false # never should be deleted
  sourceRef:
    kind: GitRepository
    name: haynes-ops
    namespace: flux-system
  wait: false
  interval: 30m
  timeout: 5m
