---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      esphome:
        annotations:
          secret.reloader.stakater.com/reload: esphome-secrets,esphome-deploykey
        pod:
          nodeSelector:
            topology.kubernetes.io/zone: "m" # TODO select subnet
          annotations:
            k8s.v1.cni.cncf.io/networks: static-iot-esphome
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2026.1.4
            env:
              PLATFORMIO_CORE_DIR: /cache/platformio
              PLATFORMIO_GLOBALLIB_DIR: /cache/platformio/lib
              PLATFORMIO_SETTING_ENABLE_TELEMETRY: No
              #ESPHOME_DASHBOARD_USE_PING: true
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: "4"
                memory: 12Gi
              limits:
                cpu: "16"
                memory: 32Gi
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.109.2@sha256:1b84cd817fe8eb1159323ae9d2f29b3c70c6ccd44958d651a94900cf7f0ff9c4
            args: [
              "--auth", "none",
              "--user-data-dir", "/config/.vscode",
              "--extensions-dir", "/config/.vscode",
              "--port", "12321",
              "/config"
            ]
            resources:
              requests:
                cpu: 100m
                memory: 2Gi
              limits:
                cpu: 1000m
                memory: 12Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      # http://esphome.home-automation.svc.cluster.local:6052
      app:
        controller: esphome
        ports:
          http:
            port: 6052
          code-server:
            port: 12321
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.haynesops
          # Homepage
          gethomepage.dev/href: &url "https://esphome.haynesops.com"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: ESPHome
          gethomepage.dev/description: ESP device firmware + dashboard
          gethomepage.dev/icon: esphome
          gethomepage.dev/app: esphome
          gethomepage.dev/siteMonitor: *url
          # Homepage widget
          gethomepage.dev/widget.type: esphome
          gethomepage.dev/widget.url: *url
        className: traefik-internal
        hosts:
          - host: esphome.haynesops.com # TODO https://github.com/mchestr/home-cluster/blob/main/kubernetes/apps/default/esphome/app/helmrelease.yaml
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
      code-server:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.haynesops
          # Homepage
          gethomepage.dev/href: &codeUrl "https://esphome-code.haynesops.com"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: ESPHome VS Code
          gethomepage.dev/description: Code editor for ESPHome
          gethomepage.dev/icon: sh-visual-studio-code.svg
          gethomepage.dev/app: esphome
          gethomepage.dev/siteMonitor: *codeUrl
        className: traefik-internal
        hosts:
          - host: esphome-code.haynesops.com
            paths:
              - path: /
                service:
                  identifier: app
                  port: code-server
    persistence:
      config:
        existingClaim: esphome
        globalMounts:
          - path: /config
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /config/.esphome
          - path: /cache
            subPath: cache
          - path: /.cache
      secrets:
        type: secret
        name: esphome-secrets
        globalMounts:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
      deploy-key:
        type: secret
        name: esphome-deploykey
        defaultMode: 256
        globalMounts:
          - path: /home/coder/.ssh/id_ed25519
            subPath: id_ed25519