apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-external
spec:
  chart:
    spec:
      chart: traefik
      version: 38.0.2
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: traefik-external
  values:
    # Values https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
    globalArguments:
      - "--global.sendanonymoususage=false"
      - "--global.checknewversion=false"

    additionalArguments:
      - "--serversTransport.insecureSkipVerify=true"
      - "--log.level=DEBUG"
      - "--serversTransport.maxIdleConnsPerHost=1000"
      - "--serversTransport.forwardingTimeouts.dialTimeout=60s"
      - "--serversTransport.forwardingTimeouts.responseHeaderTimeout=0s"
      - "--serversTransport.forwardingTimeouts.idleConnTimeout=0s"
      - "--entryPoints.websecure.transport.respondingTimeouts.idleTimeout=0s"
      - "--entryPoints.websecure.transport.respondingTimeouts.readTimeout=0s"
      - "--entryPoints.websecure.transport.respondingTimeouts.writeTimeout=0s"
      - "--entryPoints.websecure.http2.maxConcurrentStreams=1000"

    #fullnameOverride: traefik-external ## Using releaseName instead
    deployment:
      enabled: true
      replicas: 3
      annotations:
        reloader.stakater.com/auto: "true"
      podAnnotations: {}
      additionalContainers: []
      initContainers: []
      
    ports:
      web:
        port: 80
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            priority: 10
      websecure:
        port: 443
        http3:
          enabled: true
        tls:
          enabled: true
          
    ingressRoute:
      dashboard:
        enabled: false # will declare in a separate file

    providers:
      kubernetesCRD:
        enabled: true
        ingressClass: traefik-external
        allowExternalNameServices: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true
        ingressClass: traefik-external
        allowExternalNameServices: true
        publishedService:
          enabled: true

    rbac:
      enabled: true

    service:
      enabled: true
      type: LoadBalancer
      annotations:
        lbipam.cilium.io/ips: 192.168.40.206
      labels: {}
      loadBalancerSourceRanges: []
      externalIPs: []