{
	email admin@sigoalumni.org
}

wiki.sigoalumni.org {
	encode gzip zstd
	reverse_proxy outline:3000

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}
}
